// out: ../css/style.css, sourcemap: true, compress: true
@import (inline) "../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";

a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
	list-style: none;
	text-decoration: none;
	font-size: 13px;
	color: #101010;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.section-title {
	font-size: 40px;
	padding: 20px 0;

	&.centered {
		display: block;
		text-align: center;
	}
}
.wrapper {
	max-width: 100%;
	margin: 0;
	display: block;
	overflow: auto;
}

.container{
	max-width: 100%;
	margin:0;
	display:block;
	padding: 0;
}

.row{
	margin-left: 300px;
	}

.header {
	width: 100%;
	display: block;
	overflow: hidden;
	.container {
		height: 100%;
		.header-menu {
			background-color: #01a3a4;
			width: 100%;
			display: block;
			ul {
				display: inline-block;

				li {
					float: left;
					padding: 20px;
					margin-left: 20px;
					list-style-type: none;

					a {
						color: white;
						text-decoration: none;
					}
				}
			}
		}

		.header-promo {
			height: 600px;
			position: relative;
			 .row{
				 height:100%;
				 .col-md-12{
					 	 .name-section{
             padding-bottom:20px;
						 line-height: 1.7;
						 color: #000;
						 font-family: Montserrat-SemiBold;
							 .surname {
								 padding: 0;
								 padding-top: 20px;
								 font-size: 50px;
							 }
							 .name{
								 padding-bottom: 15px;
								 font-size: 50px;
									 .name::after{
									 content: "";
									 width: 40px;
									 border-bottom: 3px solid #101010;
									 position: absolute;
									 bottom: 0;
									 left: 0;
									 color: black;
								}
							 }

							 .description{
								 p{	line-height: 2;}
								 padding-left:15px;
						    }
						   }
						 a {
			 				text-align: center;
			 				border: 2px solid #01a3a4;
			 				border-radius: 50px;
			 				list-style-type: none;
			 				padding: 20px;
			 				text-decoration: none;
			 				color: #01a3a4;
							position: relative;
							top:50px;
		 			  }

				   }
			    }
		     }
			  }
       }

.registration-menu {
	background-color: #01a3a4;
	display: block;
	height: 100px;
		.container{
			height:100%;
			p {
				color: white;
				text-align: center;
				padding: 10px;
				margin-bottom: 5px;
			}
		.row{
			.col md-3 xs-12{
				a{
					color: black;
					border: 2px solid white;
					border-radius: 50px;
					padding: 10px;
					text-decoration: none;
					background-color: white;
				 }
			 input {
					display: inline-block;
					padding-right: 50px;
					margin-right: 10px;
					box-sizing: border-box;
					line-height: 1.7;
					font-size: 13;
					}
				}
			}
		}
  }


.maininfo {
	background-color: #c8d6e5;
	width: 100%;
	display: block;
	height: 500px;

		.container{
			.row{
				.col-md-6{
					.left-bar {
						float: left;
						width: 50%;
					}
				}
			.col-md-6{
				.right-bar {
					float: right;
					width: 50%;
					margin-right: 300px;
					 a{
             display: block;
					 }
			    }
         }
  	    }
       }
      }
.container{
	.service-bar {
		display: block;
		width: 100%;
		height: 400px;
		background-color: white;
		position:relative;

     select{
			 position: absolute;
			 right:300px;
			 top: 20px;
		 }


		ul {
			overflow: auto;
			display: block;
			text-align: center;

			li {
				display: inline-block;
				border-right: 1px solid;
				text-align: center;
				padding: 6px 12px;

				&:first-child {
					border-left: 1px solid;
				}
			}
		}
	}
}

.presentation-bar {
	display: block;
	background-color: #c8d6e5;

	.result-box{
		height:400px;
		width:300px;
		position: relative;
		margin: 0 auto;
		padding-bottom: 30px;

		.forward-lay {
			height:100%;
			position: absolute;
			top:0;
			left: 0;
			bottom: 0;
			right: 50%;
			overflow: hidden;
			z-index: 6;

			.avatar {
				position: absolute;
				width: 300px;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				z-index: 5;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}

		.background-lay {
			height:100%;
			width:100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
		}

		.pointer {}
	 }
 }



.infobar {
	display: block;
	height: 500px;
		.section-title centered{
			h2 {
				text-align: center;
			   }
		    }
			.row{
				col-md-6{
					.left-infobar{
						float: left;
						display: block;
						height: auto;
						 .left-box{
							 a{
						    }
								::after{
								content: "";
								width: 40px;
								border-bottom: 3px solid black;
								position: absolute;
								bottom: 0;
								left: 0;
							    }
								}
							}
						}
				  }


		 	.col-md-6{
				.right-infobar {
						 display: block;
						 height: auto;
					   float: right;
						 margin-right:100px;
						 border-top: 1px solid;
						 padding:10px;
						 border-color: #01a3a4;
						 border-width: medium;
					}
	      }
    	}


.footer {
	display: block;
	background-color: #c8d6e5;
  padding:50px 0;
	padding-bottom: 60px;
	 .container{
		 margin:0 auto;
		 padding:0 15px;
		 box-sizing: border-box;
			.row{
				max-width: 100%;
		  	.col-md-6{
					width:50%;
					.footer-left{
						margin:0px;
						float:left;
						display:block;
						height:auto;
						padding:0;
							p{
								line-height: 2;
								font-size: 20px;
							}
	 					}
			  	}
				.col-md-6{
					.footer-right{
						float:right;
						display:block;
						height: auto;
			 				form{
								margin-top:0px;
							  font-size: 13px;
								display:block;
								 .input-group{
									 margin-bottom: 20px;
									 	input{
											background-color: #c8d6e5;
											color: #c8d6e5;
										 	width:373px;
											display: block;
											padding: 10px 14px;
									    box-sizing: border-box;
											font-size: 13px;
									    text-decoration: none;
									    list-style: none;
								     }
										label{
											display: block;
									    font-family: Montserrat-regular;
									    color: #999;
									    margin-bottom: 15px;
										}
							    }
										button{
											width: 379px;
								}
							}
				    }
          }
			  }
	   }
	 }
